.App {
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.App-link {
  color: #09d3ac;
}

body  {
  background-image: url("https://as1.ftcdn.net/jpg/02/28/79/20/500_F_228792052_6E7XqpnvErSIzY2Mg5o1NTuXfxdpZUSW.jpg");
  background-color: #cccccc;
}

h1 {
  color: rgb(133, 77, 9);
  font-size: 30px;
}

img {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 35%;
  border-radius: 8px;
}

.recipe-container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 1.5rem;
}

div.favorites-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  /* grid-auto-rows: auto; */
  grid-gap: 1rem;
  padding: 1.5rem;
}

.fave {
  font-family: 'Pacifico', cursive;
  background-color: white;
  font-size: 100px;
  margin: 1%;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 1rem;
}

.tile {
  border: 2px solid #e7e7e7;
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  transition: 0.2s;
  box-shadow: 0px 1px 5px #555;
}

.tile:not(:first-child) {
  margin-left: 2rem;
}
.tile:not(:last-child):hover,
.tile:not(:last-child):focus-within {
  transform: translateY(-1rem);
  ~ .card {
    transform: translateX(2rem);
  }
}

input[type=textsearch] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=textsearch]:focus {
  width: 60%;
  font-size: large;
}

input[type=text] {
  width: 60%;
  margin: 4px 0;
}

.recipe {
  border: 2px solid #e7e7e7;
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  transition: 0.2s;
  box-shadow: 0px 1px 5px #555;
  position: absolute;
  margin: 80px;
  margin-top: 3px;
}

/* nav bar styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A0522D;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li {
  border-right: 1px solid #bbb;
}


body, html {
  height: 100%;
  font-family: 'Muli', sans-serif;
}

/* welcome page styling */
.welcome {
  background-image: url("https://previews.123rf.com/images/fascinadora/fascinadora1804/fascinadora180400021/99452752-russian-food-on-wooden-background-assortment-dishes-of-russian-cuisine-borscht-pelmeni-herring-marin.jpg");
  height: 100vh;
  width: auto;
  padding: 5%;
  background-size: cover;
  font-weight: 900;
}

div.welcome p {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: xx-large;
}

div.welcome h1 {
  font-size: 350%; 
  color: whitesmoke;
  margin-top: 15%;
  font-weight: 550;
  font-family: 'Pacifico', cursive;
}

div.welcome a {
  color: whitesmoke;
  font-size: x-large;
}

button.welcomebtn {
  background-color: #A0522D;
  border: none;
  cursor:pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}



/* new recipe form styling */
.newrecipe a {
  font-size: x-large;
  font-weight: 700;
  color: #A0522D;
  background-color: white;
}

.newrecipe input {
  padding: 3%;
  font-size: 16px;
  border-radius: 12px;

}

input[type=submit] {
  padding: 15px 32px;
  background-color: #A0522D;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

h1.new {
  background-color: white;
}

/* Favorites and Added to favorites buttons change colors */
.buttonTrue {
display: inline-block;
padding: 5px 10px;
font-size: 10px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #000;
background-color: rgb(228, 150, 150);
border: none;
border-radius: 15px;
box-shadow: 0 6px #999;
}
.buttonFalse {
display: inline-block;
padding: 5px 10px;
font-size: 10px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color:green;
border: none;
border-radius: 15px;
box-shadow: 0 6px #999;
}

/* Delete Button Styling */
#delete {
  display: inline-block;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: red;
  color: white;
  border-radius: 15px;
  box-shadow: 0 6px #999;
  border: none;
}

.submit {
  display: inline-block;
  padding: 5px 10px;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #A0522D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}


